// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.

//
// Override Bootstrap here
//

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

// Customize some defaults
$body-color: black;
$body-bg: #f5f5f5;

//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

// @import "bootstrap/scss/bootstrap";

// Option 2
//
// Import just the styles you need. Note that some stylesheets are required no matter what.

@import "bootstrap/scss/functions"; // Required
@import "bootstrap/scss/variables"; // Required
@import "bootstrap/scss/mixins"; // Required
// @import "bootstrap/scss/root";
@import "bootstrap/scss/reboot"; // Required
@import "bootstrap/scss/type";
// @import "bootstrap/scss/images";
// @import "bootstrap/scss/code";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
// @import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
// @import "bootstrap/scss/transitions";
// @import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
// @import "bootstrap/scss/input-group"; // Requires forms
// @import "bootstrap/scss/custom-forms";
@import "bootstrap/scss/nav";
// @import "bootstrap/scss/navbar"; // Requires nav
@import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/jumbotron";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/media";
// @import "bootstrap/scss/list-group";
// @import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
// @import "bootstrap/scss/modal";
// @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
@import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
// @import "bootstrap/scss/utilities";
// @import "bootstrap/scss/print";

//
// Custom styles
//

body {
  font-size: 14px;
  line-height: 1.42;
  color: #333;
  background-color: white;
  font-family: "Varela Round", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  color: #8c9398;
  word-spacing: 1px;
  line-height: 25px;
  letter-spacing: 1px;
}

section {
  padding: 90px 0 100px;
}

a:hover {
  color: #3fc9b2;
  text-decoration: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
}

.row {
  margin-right: unset;
  margin-left: unset;
}

.text-center {
  text-align: center;
}

.container-fluid {
  padding: unset;
}

.bckg-home {
  background: url("/assets/img/hero-bg.jpg") no-repeat center center;
  background-size: cover;
  padding: 200px 0 365px 0;
  height: auto;
  // height: 100vh;
  // background-position: top;
  // background-repeat: no-repeat;
  // background-size: contain;
  & h1 {
    font-size: 40px;
    letter-spacing: 12px;
    & span {
      color: #a1a9b0;
      display: inline-block;
    }
  }
  a {
    background: rgba(61, 201, 179, 1);
    padding: 20px 40px;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    box-shadow: 0px 3px 0px 0px #309383;
    margin: 60px 0 0;
    font-weight: bold;
  }
}

.title-home {
  transform: translateY(70px);
  margin: auto;
  text-align: center;
}

#section-creative {
  text-align: center;
  background: #f3f5f8;
  a {
    color: black;
  }
  .col-md-8 {
    margin: auto;
  }
  p {
    margin: 50px 0 0;
    letter-spacing: unset;
  }
}

.title-arrow {
  font-weight: bold;
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  background: url(/assets/img/h1-bg.png) no-repeat center bottom;
  padding-bottom: 30px;
}

.burger {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 20px;
  right: 20px;
  border-radius: 4px;
  z-index: 10;
  @media screen and (max-width: 600px) {
    top: 9px;
  }
}
.burger:focus,
.burger:active,
.burger:visited,
.burger:focus-within {
  outline: none;
}
.burger span {
  position: relative;
  margin-top: 9px;
  margin-bottom: 9px;
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -1.5px;
}
.burger span,
.burger span::before,
.burger span::after {
  background-color: black;
  display: block;
  width: 30px;
  height: 3px;
  outline: 1px solid transparent;
  transition-property: background-color, transform;
  transition-duration: 0.3s;
}
.burger span::before,
.burger span::after {
  position: absolute;
  content: "";
}
.burger span::before {
  top: -9px;
}
.burger span::after {
  top: 9px;
}
.burger.clicked span {
  background-color: transparent;
}
.burger.clicked span::before {
  transform: translateY(9px) rotate(45deg);
}
.burger.clicked span::after {
  transform: translateY(-9px) rotate(-45deg);
}
.burger.clicked span:before,
.burger.clicked span:after {
  background-color: #ffffff;
}
.burger:hover {
  cursor: pointer;
}

#section-skills {
  .container {
    & .row:nth-child(2) {
      margin-top: 70px;
    }
    .icon {
      height: 175px;
      width: 175px;
      line-height: 175px;
      max-width: 100%;
      background: #3dc9b3;
      border-radius: 50%;
      display: block;
      color: #fff;
      font-size: 55px;
      text-align: center;
      position: relative;
      margin: 0 auto 50px;
    }
    h2 {
      font-size: 15px;
      color: #353535;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}

.carousel-indicators {
  .active {
    background: #212024;
  }
  li {
    width: 13px;
    height: 13px;
    display: block;
    background: #5c696a;
    background: #fff;
    cursor: pointer;
    text-indent: -9999px;
    border-radius: 20px;
    border: 3px solid #c9cbca;
  }
}

#section-pro {
  padding-bottom: unset;
  .row {
    height: 650px;
    .col-md-6:last-child {
      margin: auto;
    }
    .carousel-inner {
      padding: 0 15%;
    }
  }
}

.iphone {
  width: 50%;
  background: #f3f5f8;
  float: left;
  height: 100%;
  box-shadow: inset -15px -11px 40px -6px rgba(0, 0, 0, 0.1);
  z-index: 1;
  padding: unset;
  div {
    background: url(/assets/img/iphone-bg.png) no-repeat center center;
    background-position: 8px 20px;
    height: 100%;
  }
}

.swag {
  background: url(../img/plants-bg.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  padding: 50px 0;
  h1 {
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  span {
    display: block;
    font-size: 25px;
    margin-top: 20px;
  }
  a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(61, 201, 179, 0.8);
    display: inline-block;
    margin: 10px auto 20px;
    color: #fff;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 70vh;
  margin: auto;
}

// .carousel-item {
//   display: grid !important;
//   grid-template-columns: repeat(3, 1fr);
//   grid-gap: 1rem;
//   margin-top: 30px;
//   justify-content: center;
//   align-items: center;
// }

#carouselPortfolio,
#carouselTeam {
  padding: 70px 0 40px 0;
  h2 {
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 40px;
  }
}

#carouselTeam {
  padding: 70px 0 60px 0;
}

.portfolio-container {
  @media screen and (max-width: 960px) {
    margin-bottom: 30px;
  }
  h2::after {
    content: " ";
    border: solid 2px #3dc9b3;
    width: 35px;
    display: block;
    margin: 25px auto;
  }
}

.ignite-cta {
  background-color: #242830;
  padding: 70px 0;
}

.ignite-btn {
  display: inline-block;
  padding: 25px 40px;
  color: #fff;
  border: solid 1px #fff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

ul.social-buttons {
  list-style: none;
  margin: 0;
  padding: 0;
  @media screen and (max-width: 960px) {
    margin-bottom: 50px;
  }
  li {
    display: inline-block;
    margin-right: 10px;
  }
  .social-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #242830;
    display: inline-block;
    color: #fff;
    font-size: 17px;
    line-height: 40px;
    text-align: center;
  }
}

.subscribe {
  background: url(/assets/img/keyboard-bg.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  padding: 120px 0 140px;
  h3 {
    color: #fff;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    span {
      display: block;
      font-size: 15px;
      text-transform: uppercase;
      font-weight: bold;
      margin-top: 20px;
      letter-spacing: 1px;
    }
  }
  input[type="text"] {
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px #fff;
    padding: 20px;
    width: 30%;
    color: #fff;
  }
  input[type="submit"] {
    background: rgba(61, 201, 179, 0.5);
    border: solid 1px rgba(61, 201, 179, 0.5);
    padding: 20px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.5s ease;
  }
}

#section-contact {
  .card {
    .d-flex {
      display: flex;
      flex-direction: column;
      &:after {
        content: " ";
        border: solid 2px #3dc9b3;
        width: 35px;
        display: block;
        margin: 25px auto;
      }
      i {
        font-size: 20px;
        margin-bottom: 10px;
      }
      span {
        display: block;
        color: #3dc9b3;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 14px;
      }
    }
    a {
      color: black;
    }
  }
  .col-lg-4 {
    @media screen and (max-width: 960px) {
      margin-bottom: 30px;
    }
  }
}

.mb-5 {
  margin-bottom: 50px;
}

#section-contact {
  position: relative;
  background-color: #f3f5f8;
  .arrow-up {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(61, 201, 179, 0.5);
    color: #fff;
    font-size: 20px;
    line-height: 45px;
    position: absolute;
    top: -25px;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  .card {
    background-color: #fff;
    box-shadow: 0px 3px 0px 0px #f0f2f4;
    padding: 20px 0;
  }
}

footer {
  background-color: #242830;
  padding: 40px 0 30px;
  a {
    color: white;
  }
  ul {
    list-style: none;
    color: #8c9398;
    display: flex;
    padding-inline-start: unset;
    @media screen and (max-width: 960px) {
      justify-content: center;
    }
  }
  span {
    margin: 10px;
  }
  .credit {
    text-align: right;
    @media screen and (max-width: 960px) {
      text-align: center;
    }
    p {
      letter-spacing: normal;
    }
  }
}

@media screen and (max-width: 768px) {
  #section-pro .row .col-md-6:last-child {
    transform: translateY(-150%);
    z-index: 999;
    background-color: #f6f6f8a8;
  }
  .carousel-item p {
    color: black;
  }
  .title-arrow {
    padding-top: 30px;
  }
  .iphone {
    width: 100%;
  }
}
